
<div class="container box-block">
    <div class="content-login">
        <div class="login-title">
            <h2>Welcome Back !</h2>
            <p>Sign in to continue to .....</p>
        </div>
        <form name="form" (ngSubmit)="formSubmit($event)" [formGroup]="signupForm" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email" name="email" placeholder="example@gmail.com" required />
                <div *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].valid"> 
                    <div class="form-err" *ngIf="signupForm.controls['email'].hasError('required')"> Email is required </div>  
                    <div class="form-err" *ngIf="signupForm.controls['email'].hasError('pattern')"> Invalid Email </div>       
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="At least 10 character" name="password" required/>
                <div *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].valid"> 
                    <div class="form-err" *ngIf="signupForm.controls['password'].hasError('minlength') " class="help-block">Password is required minimum 6 characters</div>
                </div>
            </div>
            <div class="form-group form-login-reg">
                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="error-message"><p>{{errMsg}}</p></div>
        
    </div>
</div>