

body {
    background-color: #fff;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #333;
    font-family: "Poppins",Arial,sans-serif;
  }

  ol, ul {
    margin-bottom: 0px;
    margin-top: 0;
    padding:0;
}
.h1, h1 {
    font-size: 30px;
    font-weight: 800;
    color:#2f343f;
}
.h2, h2{
    font-size:20px;
    text-transform:uppercase;
    font-weight:400;
    color:#2f343f;
}

.h3, h3{
    font-size:22px;
    text-transform:uppercase;
    font-weight:600;
    color:#2f343f;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    line-height:24px;
    color:#666;
    margin:0;
    font-weight: 400;
}

a{
    cursor: pointer; 
 }
 
 ::-webkit-input-placeholder { 
     color: #c4c4c5 !important; text-overflow: ellipsis; 
 }
 :-moz-placeholder { 
     color: #c4c4c5 !important; text-overflow: ellipsis; 
 }
 ::-moz-placeholder { 
     color: #c4c4c5 !important; text-overflow: ellipsis; 
 } /* For the future */
 :-ms-input-placeholder { 
     color: #c4c4c5 !important; text-overflow: ellipsis; 
 }

 img { max-width: 100%; }

.row { margin:0; }

.btn-primary.disabled, .btn-primary:disabled, .btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: #ccc;
    border-color: #ccc;
    cursor: default;
}

.btn-primary{
    cursor: pointer;
    color: #fff;
    background-color: #f32525;
    border:0px;
    border-color: #f32525;
    margin-top: 20px;
}

/***************************************
    Login
***************************************/

nbc-login{

    .alert-success{
        text-align: center;
    }

    .box-block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 200px;
    }

    .content-login{
        padding: 20px 30px 30px 30px;
        -moz-box-shadow:     0 0 30px rgba(0,0,0,0.15);
        -webkit-box-shadow:  0 0 30px rgba(0,0,0,0.15);
        box-shadow: 0 0 30px rgba(0,0,0,0.15);
        background-color: #fff;
        width: 400px;

        .login-title {
            text-align: center;
            margin-bottom: 15px;

            h2{
                font-weight: 600;
                margin-bottom:10px;
            }
        }

        form{
            
            .form-group {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 20px;

                label{
                    font-weight: 600;
                }
            }
                
            
            .form-login-reg{
                text-align: right;
                display: block;
        
                .btn-primary{
                    border-radius: 6px;
                    padding: 12px 35px;
                    font-weight: 600;
                    -moz-box-shadow:    inset 0 0 30px rgba(0,0,0,0.15);
                    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
                    box-shadow:inset 0 0 30px rgba(0,0,0,0.15);
                }
            
                .btn-link{
                    color:#333;
                    font-weight: 600;
                    font-size:13px;
                }
            }
            
            input.form-control{
                font-size:13px;
                padding: .7rem .75rem;
                border-radius: .20rem;
                border: 1px solid #ddd;
                width: 100%;
            }
        
            .help-block, .form-err{
                color:#CF1009;
                font-weight: 500;
            }
            
        }
            
    }

    input:focus,
    button:focus {
        outline:none!important;
        background-image: none;
        //-webkit-appearance:none;
        box-shadow: none!important;
        -moz-box-shadow: none!important;
        -webkit-box-shadow: none!important;
    }
    input:focus {border-color: #93C4F1;}

}